:root {
  --dark-overlay: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}


.content-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  font-family: "Raleway", sans-serif;
}

.header-container {
  display: grid;
  grid-template-columns: 2fr 1.6fr 1.1fr;
  grid-template-rows: auto;
  justify-content: space-evenly;
  align-items: center;
  margin: 92px 50.52px;
  font-weight: 400;
  font-size: 18px;
}

.page-menu__header {
  display: flex;
  flex-direction: row;
  grid-column: 1/2;
  gap: 29px;
  list-style-type: circle;
}

.page-menu__header .page-menu__current-page:first-child {
  list-style: none;
}

.page-menu__header .page-menu__current-page {
  text-decoration: none;
}

.page-menu li {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.page-menu .page-menu__current-page a {
  padding-left: 0;
  text-decoration: none;
  list-style: none;
}

.header-logo-img {
  grid-column: 2/3;
  width: 148px;
  height: 105px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.contacts-list__header {
  grid-column: 3/4;
  margin-left: -5px;
}

.contacts-list-item {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.contacts-list .contacts-list__item-poor {
  text-decoration: none;
}


.background-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* 
    I liked this method of shadowing better
    https://snipp.ru/html-css/darkening-image#vtoroy-sposob-zatemnit-background
*/
.welcome-cover {
  position: relative;
  background-image: var(--dark-overlay), url(../images/cover.jpg);
}


.welcome-cover__title {
  display: flex;
  flex-direction: column;
  padding: 165px 50px 0;
  color: white;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
}

.welcome-cover__title-left {
  text-align: left;
}

.welcome-cover__title-center {
  padding: 9px 29px 0 0;
  text-align: center;
}

.welcome-cover__title-right {
  margin-right: -30px;
  padding-top: 3px;
  letter-spacing: 0.3em;
  text-align: right;
}

.letter {
  letter-spacing: 0.3em;
}

.big-space {
  margin-right: 0.3em;
}

.welcome-cover__subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 98px;
  margin: 129px 0 0;
  padding: 0 50px 50px;
}

.welcome-cover__subtitle-text {
  padding-left: 29px;
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.5px;
  white-space: nowrap;
}

.welcome-cover__subtitle-button {
  margin-left: -30px;
  border: 1px solid currentColor;
  padding: 13px 32px;
  color: white;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  text-align: center;

  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  white-space: nowrap;
}

.lots-box {
  display: flex;
  flex-direction: column;
  margin: 182px 24px 0;
}

.lots-box__title {
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.lots-box__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 31px;
  color: white;
}

.lots-box__item {
  display: flex;
}

.lots-box__item-link {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px 48px;
  text-decoration: none;
}

.lots-box__item-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.lots-box__item-desctiption {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots-box__card-film {
  background-image: var(--dark-overlay), url(../images/card-lot-01.jpg);
}

.lots-box__card-book {
  background-image: var(--dark-overlay), url(../images/card-lot-02.jpg);
}

.lots-box__card-picture {
  background-image: var(--dark-overlay), url(../images/card-lot-03.jpg);
}

.more-lots-button {
  margin: 32px 40px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 183px 24px 0;
}

.about__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-left: 47px;
  border-radius: 50%;
  background-color: black;
}

.about__image_logo {
  width: 148px;
}

.about__text_column {
  grid-column: 2/4;
  justify-content: left;
  padding-top: 105px;
  padding-left: 9px;
}

.about__title-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.about__title-description {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 104px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /*
    В попытках пофиксить сильное расхождение текста
    с макетом несмотря на то что остальные стили взяты прямо из макета
  */
  word-spacing: 1px;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: space-evenly;
  align-items: start;
  margin: 180px 50.52px 96px;
  font-weight: 400;
  font-size: 18px;
}

.contacts-list__footer {
  padding-top: 2px;
  padding-right: 100px;
}

.page-menu__footer {
  flex-direction: column;
  text-align: center;
  list-style-type: none;
}

.page-menu__footer .page-menu__current-page {
  text-decoration: none;
}

.socials-icons-list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 48px;
}

.socials-icon {
  width: 48px;
}
